# Path to the Kiosk Dashboard Layout Configuration YAML
KIOSK_CONFIG_PATH=examples/dashboard.yaml

# Dashboard Refresh Rate (in seconds, default: 60)
KIOSK_REFRESH_INTERVAL=60

# Mock Source settings (to test behavior)
KIOSK_SIMULATE_SPEED=1.0
